[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/smanjit
[access "refs/for/refs/*"]
	read = group user/smanjit
	push = group user/smanjit
	label-Code-Review = -2..+2 group user/smanjit
	label-Verified = -1..+1 group user/smanjit
	rebase = group user/smanjit
	removeReviewer = group user/smanjit
	submit = group user/smanjit
[access "refs/heads/*"]
	read = group user/smanjit
	create = group user/smanjit
	push = +force group user/smanjit
	pushMerge = group user/smanjit
[access "refs/tags/*"]
	push = +force group user/smanjit
	pushTag = group user/smanjit
	pushSignedTag = group user/smanjit
